/*--EARTH--*/

body{
    background-color: #050416;
    background-image: url("img/earth/background.png");
    background-position: center top;
    background-attachment: scroll;
    overflow-x: hidden;

    padding:0;
    margin:0;
}

#navbar {
   background-color: #03031B;
   display: flex;
   justify-content: center;
 }
 
 #navbar a {
   width: 300px;
   margin-left: 10px;

   display: block;
   padding: 20px 20px ;

   text-decoration: none;
   color: #ffffff;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   font-family: Agrandir;
 }
 
 #navbar a:hover {
   background-color: #252550;
 }

 .content {
   padding: 16px;
 }
 
 .sticky {
   position: fixed;
   top: 0;
   width: 100%;
 }
 
 .sticky + .content {
   padding-top: 60px;
 }

 .mainDiv{
    font-family: Agrandir;
    text-align: center;
    font-weight: normal;
    color: #ffffff;
    font-size: 15pt;
    text-shadow: 2px 2px 8px #000000;

    padding: 30px;
    margin:-18px;
 }

 .intro{
    margin-left:auto;
    margin-right:auto;
    max-width: 1920px;
 }


 .landforms{
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1920px;
    height: 250px;
    padding: 40px;
    margin-left:auto;
    margin-right:auto;
 }

 .tectonicPlates{
    max-width: 1920px;
    height: 250px;
    padding: 40px;
    margin-left:auto;
    margin-right:auto
 }

 .contentsRight{
    text-align: right;
    padding: 10px;
    margin-left:0;
    overflow: hidden;
    width: 800px;
 }

 .contentsRight2{
   text-align: right;
   padding: 10px;
   margin-left:-250px;
   overflow: hidden;
   width: 800px;
}

 .contentsCenter{
   text-align: center;
   padding: 0;
   margin-right:auto;
   overflow: hidden;
   width: 800px;
}

 .contentsLeft{
    text-align: left;
    padding: 10px;
    margin-right:0;
    overflow: hidden;
    width: 1000px;
 }

 .contentsLeft2{
   text-align: left;
   padding: 10px;
   margin-right:0;
   overflow: hidden;
   width: 800px;
}

 table{
   margin-left:auto;
    margin-right:auto
 }

 td{
   padding: -50px;
   margin-bottom: 50px;
   
 }

 .moon{
   width: 300px;
   margin-left: 0;
 }

 .earth{
   width: 400px;
   margin-left: 100px;
 }

 .goldi{
   width: 1000px;
   margin-left: -500px;
 }

 .cloud1{
   height: 500px;
   margin-left: -500px;
 }

#layers{
   width: 1300px;
}

.tableMarginBottom{
   margin-bottom: 50px;
}
 
 .refTable{
   font-family: Agrandir;
   text-align: left;
   font-weight: normal;
   color: #4f4f89;
   font-size: 12pt;
   text-shadow: 2px 2px 8px #000000;

   background-color: #02021763;
   padding: 10px 20px;

   max-width: 1920px;
   margin-left:auto;
   margin-right:auto
}
/*image specifications*/

.fitToScreen{
    height: 200px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.goback{
    width: 150px;
    opacity: 20%;
    z-index: 1;
    position: absolute;
    margin: 10px;
}



/*text specifications*/

@font-face {
    font-family: "Chloe";
    src: url(fonts/Chloe-Regular.otf);
}

@font-face {
    font-family: "Agrandir";
    src: url(fonts/Agrandir-WideLight.otf);
}

@font-face {
    font-family: "Lovelo";
    src: url(fonts/Lovelo\ Black.otf);
}

.px1000{
   width: 1100px;
   margin-left:auto;
    margin-right:auto;
    max-height: 300px;
}

p{
    text-shadow: 2px 2px 8px #000000;
}

h1{
    color: #ffffff;
}

h2{
   font-family: "Lovelo";
    font-size: 70pt;
    color: #ffffff;
    margin-top: -10px;
    margin-bottom: 0;
    line-height: 93px;

}

.headerTitle{
    font-size: 140pt;
    color: #ffffff;
    margin-top: -180px;
    font-family: "Chloe";
    margin-bottom: -10px;
}

.sectionTitle{
    font-family: "Lovelo";
    font-size: 70pt;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
}

.sectionTitle2{
   font-family: "Lovelo";
   font-size: 70pt;
   color: #ffffff;
   margin-bottom: -10px;
   margin-top: 0;
   margin-right: 0;
   
   line-height: 90px;
}

.sectionTitle3{
   font-family: "Lovelo";
   font-size: 70pt;
   color: #ffffff;
   margin-top: 0;
   margin-bottom: 0;
   line-height: 90px;
}

.sectionTitle4{
   font-family: "Lovelo";
   font-size: 50pt;
   color: #ffffff;
   margin-top: 0;
   margin-bottom: -20px;
   line-height: 70px;
}


