/*--LITHIO--*/

body{
    background-color: #2b130b;
    background-image: url("img/lithio/background.jpg");
    background-position: center top;
    background-attachment: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;

    padding:0;
    margin:0;
}

#navbar {
   background-color: #1b0d04;
   display: flex;
   justify-content: center;
 }
 
 #navbar a {
   width: 250px;
   margin-left: 100px;
   margin-right: 100px;

   display: block;
   padding: 20px 20px ;

   text-decoration: none;
   color: #FCC82D;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   font-family: Agrandir;
 }
 
 #navbar a:hover {
   background-color: #4e2912fa;
 }

 .content {
   padding: 16px;
 }
 
 .sticky {
   position: fixed;
   top: 0;
   width: 100%;
 }
 
 .sticky + .content {
   overflow: hidden;
   padding-top: 60px;
 }

 .mainDiv {
    font-family: Agrandir;
    text-align: center;
    overflow: hidden;
    font-weight: normal;
    color: #ffffff;
    font-size: 15pt;
    text-shadow: 2px 2px 8px #000000;

    padding: 30px;
    margin:-18px;
 }

 .intro{
    margin-left:auto;
    margin-right:auto;
    max-width: 1920px;
 }

 .landforms{
    background-position: center;
    max-width: 1920px;
    height: 250px;
    padding: 40px;
    margin-left:auto;
    margin-right:auto;
 }

 .tectonicPlates{
    max-width: 1920px;
    height: 250px;
    padding: 40px;
    margin-left:auto;
    margin-right:auto
 }

 .contentsRight{
    text-align: right;
    padding: 10px;
    margin-left:auto;
    overflow: hidden;
    width: 1000px;
 }


 .contentsCenter{
   text-align: center;
   padding: 0;
   margin-right:auto;
   overflow: hidden;
   width: 800px;
}

 .contentsLeft{
    text-align: left;
    padding: 10px;
    margin-right:auto;
    overflow: hidden;
    width: 1000px;
 }

 .contentsLeft {
   transform: translateX(0);
 }


 .contentsLeftBoundaries{
   text-align: left;
   padding: 10px;
   margin-right:auto;
   overflow: hidden;
   width: 800px;
}

 .plains{
    background-image: url(img/lithio/plains.jpg);
 }

 .mountains{
    background-image: url(img/lithio/mountain.jpg);
 }

 .volcanoes{
    background-image: url(img/lithio/volcano.jpg);
 }

 .valleys{
    background-image: url(img/lithio/valley.jpg);
 }

 .plateaus{
    background-image: url(img/lithio/plateau.jpg);
 }

 table{
   margin-left:auto;
    margin-right:auto
 }

 td{
   padding: -50px;
   margin-bottom: 50px;
   
 }

 .platespic{
   width: 600px;
 }

 .boundaries{
   width: 400px;
   margin-left:150px;
   margin-top: 20px;
   
 }
/*image specifications*/

.fitToScreen{
    height: 200px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.goback{
    width: 150px;
    opacity: 20%;
    z-index: 1;
    position: absolute;
    margin: 10px;
}

.refTable{
   font-family: Agrandir;
   text-align: left;
   font-weight: normal;
   color: #b9937c;
   font-size: 12pt;
   text-shadow: 2px 2px 8px #000000;

   background-color: #1b0d0493;
   padding: 10px 20px;

   max-width: 1920px;
   margin-left:auto;
   margin-right:auto
}

/*text specifications*/

@font-face {
    font-family: "Chloe";
    src: url(fonts/Chloe-Regular.otf);
}

@font-face {
    font-family: "Agrandir";
    src: url(fonts/Agrandir-WideLight.otf);
}

@font-face {
    font-family: "Lovelo";
    src: url(fonts/Lovelo\ Black.otf);
}

p{
    text-shadow: 2px 2px 8px #000000;
}

h1{
    color: #FCC82D;
}

h2{
   font-family: "Lovelo";
    font-size: 70pt;
    color: #FCC82D;
    margin-top: -10px;
    margin-bottom: 0;
    line-height: 93px;

}

.headerTitle{
    font-size: 140pt;
    color: #FCC82D;
    margin-top: -180px;
    font-family: "Chloe";
    margin-bottom: -10px;
}

.sectionTitle{
    font-family: "Lovelo";
    font-size: 70pt;
    color: #FCC82D;
    margin-top: 0;
    margin-bottom: -60px;
}

.sectionTitleBoundaries{
   font-family: "Lovelo";
   font-size: 70pt;
   color: #FCC82D;
   margin-bottom: 0;
}
